x-healthcheck: &healthcheck
  interval: 2s
  timeout: 3s
  retries: 5
  start_period: 2s

x-python-env: &python-env
  PYTHONUNBUFFERED: 1
  PYTHONIOENCODING: UTF-8

services:

  postgres:
    restart: unless-stopped
    image: postgres:16.3
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - lob

  frontend:
    profiles: [frontend]
    restart: unless-stopped
    image: pro.registry.gitlab.metadata.dev.cf-deployments.org/base-infrastructure/docker-registry/cf-lob-frontend:${FRONTEND_DOCKER_TAG:-main}
    networks:
      - lob
    ports:
      - "3000:80"
    environment:
      PORT: "3000"
      VITE_API_URL: ${API_FRONTEND_HOSTNAME:-http://localhost:9000}
      VITE_ADMIN_EMAIL: access_reeve-support@cardanofoundation.org
      VITE_KEYCLOAK_URL: ${KC_FRONTEND_HOSTNAME:-http://localhost:8080}
      VITE_KEYCLOAK_REALM: reeve-master
      VITE_KEYCLOAK_CLIENT_ID: webclient
      VITE_KEYCLOAK_REDIRECT_URL: ${FRONTEND_URL:-http://localhost:3000}/auth/login
      VITE_PUBLIC_INTERFACE_OFF: ${VITE_PUBLIC_INTERFACE_OFF:-true}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend-http.entrypoints=web"
      - "traefik.http.routers.frontend-http.rule=Host(`${FRONTEND_HOSTNAME:-example.com}`)"
      - "traefik.http.routers.frontend-https.rule=Host(`${FRONTEND_HOSTNAME:-example.com}`)"
      - "traefik.http.routers.frontend-https.entrypoints=websecure"
      - "traefik.http.routers.frontend-https.tls=true"
      - "traefik.http.middlewares.https-redirect.headers.customrequestheaders.X-Forwarded-Proto=https"
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  publisher:
    restart: unless-stopped
    build:
      context: .
    environment:
      KEYCLOAK_ENABLED: true
      # Only used for dev and mocking netsuit
      LOB_MOCK_RESULT_PATH: /app/cf-application/src/main/resources/json/NetSuiteIngestionMock.json
      SPRING_PROFILES_ACTIVE: dev--yaci-dev-kit
      DB_URL: ${DB_USER:-jdbc:postgresql://postgres:5432/postgres}
      KC_BASE_URL: ${KC_BASE_URL:-http://keycloak:8080}
      lob_owner_account_mnemonic: ${LOB_OWNER_ACCOUNT_MNEMONIC:-test test test test test test test test test test test test test test test test test test test test test test test sauce}
      LOB_ACCOUNTING_REPORTING_CORE_ENABLED: false
      LOB_REPORTING_V2_ENABLED: false
      LOB_ORGANISATION_ENABLED: false
      LOB_BLOCKCHAIN_READER_ENABLED: true
      LOB_BLOCKCHAIN_PUBLISHER_ENABLED: true
      LOB_NETSUITE_ENABLED: true
      LOB_CSV_ENABLED: true
      SERVER_PORT: 9001
      LOB_BLOCKCHAIN_PUBLISHER_ROLLBACK_ENABLED: true
      LOB_BLOCKFROST_URL: http://yaci-cli:8080/api/v1/
      LOB_BLOCKCHAIN_READER_LOB_FOLLOWER_BASE_URL: http://follower-app:9090/api
      SPRING_KAFKA_ENABLED: true
      LOB_NETSUITE_CLIENT_URL: ${LOB_NETSUITE_CLIENT_URL:-http://api:9000/api/v1/mockresult}
      LOB_NETSUITE_CLIENT_CERTIFICATE_ID: ${LOB_NETSUITE_CLIENT_CERTIFICATE_ID:-<enter value>}
      LOB_NETSUITE_CLIENT_CLIENT_ID: ${LOB_NETSUITE_CLIENT_CLIENT_ID:-<enter value>}
      LOB_NETSUITE_CLIENT_PRIVATE_KEY_FILE_PATH: ${LOB_NETSUITE_CLIENT_PRIVATE_KEY_FILE_PATH:-/tmp/dummy.pem}
      LOB_NETSUITE_CLIENT_TOKEN_URL: ${LOB_NETSUITE_CLIENT_TOKEN_URL:-<enter value>}
      LOB_NETSUITE_CLIENT_RECORDSPERCALL: 1000
      LOB_BLOCKCHAIN_PUBLISHER_KERI_ENABLED: ${LOB_BLOCKCHAIN_PUBLISHER_KERI_ENABLED:-true}
      LOB_BLOCKCHAIN_PUBLISHER_KERI_URL: ${LOB_BLOCKCHAIN_PUBLISHER_KERI_URL:-http://keria:3901}
      LOB_BLOCKCHAIN_PUBLISHER_KERI_BOOTURL: ${LOB_BLOCKCHAIN_PUBLISHER_KERI_BOOTURL:-http://keria:3903}
      LOB_BLOCKCHAIN_PUBLISHER_KERI_IDENTIFIER_BRAN: ${LOB_BLOCKCHAIN_PUBLISHER_KERI_IDENTIFIER_BRAN:-0ADF2TpptgqcDE5IQUF1H}
      LOB_BLOCKCHAIN_PUBLISHER_KERI_IDENTIFIER_NAME: ${LOB_BLOCKCHAIN_PUBLISHER_KERI_IDENTIFIER_NAME:-identity}
      LOB_BLOCKCHAIN_PUBLISHER_KERI_IDENTIFIER_ROLE: agent
      LOB_BLOCKCHAIN_PUBLISHER_KERI_METADATA_LABEL: 170
    working_dir: /app
    entrypoint: ${ENTRYPOINT:-java --enable-preview -jar /app.jar}
    networks:
      - lob
    ports:
      - "9001:9001"
    volumes:
      - ./:/app/
      - ${LOCAL_PRIVATE_KEY_PATH:-./certs/dummy.pem}:${LOB_NETSUITE_CLIENT_PRIVATE_KEY_FILE_PATH:-/tmp/dummy.pem}
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"
  api:
    restart: unless-stopped
    build:
      context: .
    environment:
      KEYCLOAK_ENABLED: true
      # Only used for dev and mocking netsuit
      LOB_CORS_ALLOWED_ORIGINS: ${LOB_CORS_ALLOWED_ORIGINS:-http://localhost:3000}
      LOB_MOCK_RESULT_PATH: /app/cf-application/src/main/resources/db/migration/postgresql/cf-reeve-db-migrations/NetSuiteIngestionMock.json
      SPRING_PROFILES_ACTIVE: dev--yaci-dev-kit
      DB_URL: ${DB_USER:-jdbc:postgresql://postgres:5432/postgres}
      KC_BASE_URL: ${KC_BASE_URL:-http://keycloak:8080}
      lob_owner_account_mnemonic: ${LOB_OWNER_ACCOUNT_MNEMONIC:-test test test test test test test test test test test test test test test test test test test test test test test sauce}
      LOB_ACCOUNTING_REPORTING_CORE_ENABLED: true
      LOB_ORGANISATION_ENABLED: true
      LOB_REPORTING_V2_ENABLED: true
      LOB_BLOCKCHAIN_PUBLISHER_ROLLBACK_ENABLED: true
      LOB_BLOCKCHAIN_READER_ENABLED: false
      LOB_BLOCKCHAIN_PUBLISHER_ENABLED: false
      LOB_NETSUITE_ENABLED: false
      LOB_CSV_ENABLED: false
      SPRING_KAFKA_ENABLED: true
      SERVER_PORT: 9000
      LOB_SECURITY_CLAMAV_ENABLED: true
      LOB_SECURITY_CLAMAV_HOST: clamav
      LOB_SECURITY_CLAMAV_PORT: 3310
      SECURITY_CSPPOLICY: "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; connect-src 'self' ${API_URL:-http://localhost:9000} ${KC_BASE_URL:-http://localhost:8080}; frame-src ${API_URL:-http://localhost:9000}"
      SERVER_USEFORWARDHEADERS: true
      SERVER_FORWARDHEADERSSTRATEGY: framework
      OAUTH2_REDIRECT_URL: ${API_URL:-http://localhost:9000}/swagger-ui/oauth2-redirect.html
    working_dir: /app
    entrypoint: ${ENTRYPOINT:-java --enable-preview -jar /app.jar}
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/localhost/9000'"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s
    networks:
      - lob
    ports:
      - "9000:9000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend-http.entrypoints=web"
      - "traefik.http.routers.backend-http.rule=Host(`${API_HOSTNAME:-api.example.com}`)"
      - "traefik.http.routers.backend-https.rule=Host(`${API_HOSTNAME:-api.example.com}`)"
      - "traefik.http.routers.backend-https.entrypoints=websecure"
      - "traefik.http.routers.backend-https.tls=true"
      - "traefik.http.middlewares.https-redirect.headers.customrequestheaders.X-Forwarded-Proto=https"
    volumes:
      - ./:/app/
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  clamav:
    image: clamav/clamav:1.4.2
    restart: unless-stopped
    platform: linux/amd64
    ports:
      - "3310:3310"
    healthcheck:
      test: [ "CMD", "clamdscan", "--version" ]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - lob
  keycloak:
    restart: unless-stopped
    image: quay.io/keycloak/keycloak:26.0
    command: start-dev --import-realm
    depends_on:
      - postgres
      - keycloak-theme-setup
    networks:
      - lob
    environment:
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD:-admin}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME:-admin}
      KC_METRICS_ENABLED: ${KC_METRICS_ENABLED:-true}
      KC_HEALTH_ENABLED: ${KC_HEALTH_ENABLED:-true}
      KC_HOSTNAME: ${KC_HOSTNAME-localhost}
      KC_IMPORT: ${KC_IMPORT:-/opt/keycloak/data/import/realm-export.json}
      KC_HTTP_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
      KC_HTTP_PORT: ${KC_HTTP_PORT:-8080}
      KC_HTTPS_PORT: ${KC_HTTP_PORT:-8443}
      KC_DB: ${KC_DB:-postgres}
      KC_DB_URL_HOST: ${KC_DB_URL_HOST:-postgres}
      KC_DB_URL_PORT: ${KC_DB_URL_PORT:-5432}
      KC_DB_USERNAME: ${KC_DB_USERNAME:-postgres}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD:-postgres}
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/localhost/8080'"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s
    ports:
      - ${EXPOSED_KC_HTTP_PORT:-8080}:${KC_HTTP_PORT:-8080}
      - ${EXPOSED_KC_HTTPS_PORT:-8443}:${KC_HTTPS_PORT:-8443}
      - ${EXPOSED_KC_HEALTH_PORT:-8082}:9000
    volumes:
      - ./keycloak-config:/opt/keycloak/data/import
      - keycloak-providers:/opt/keycloak/providers
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak-http.entrypoints=web"
      - "traefik.http.routers.keycloak-http.rule=Host(`${KC_HOSTNAME:-keycloak.example.com}`)"
      - "traefik.http.routers.keycloak-https.rule=Host(`${KC_HOSTNAME:-keycloak.example.com}`)"
      - "traefik.http.routers.keycloak-https.entrypoints=websecure"
      - "traefik.http.routers.keycloak-https.tls=true"
      - "traefik.http.middlewares.https-redirect.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.services.keycloak.loadbalancer.server.port=${KC_HTTP_PORT:-8080}"
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  keycloak-theme-setup:
    image: pro.registry.gitlab.metadata.dev.cf-deployments.org/base-infrastructure/docker-registry/cf-lob-keycloak-theme:0.0.0-main-66196f8-GHRUN14472195207
    entrypoint: /bin/sh -c "cp -a /reeve-theme.jar /opt/keycloak/providers/"
    volumes:
      - keycloak-providers:/opt/keycloak/providers
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  zookeeper:
    restart: unless-stopped
    image: confluentinc/cp-zookeeper:7.9.2
    networks:
      - lob
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  kafka:
    restart: unless-stopped
    image: confluentinc/cp-kafka:7.9.2
    networks:
      - lob
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
      KAFKA_MESSAGE_MAX_BYTES: 15728640 # 15MB
      KAFKA_REPLICA_FETCH_MAX_BYTES: 15728640 # 15MB
  follower-app:
    restart: unless-stopped
    image: pro.registry.gitlab.metadata.dev.cf-deployments.org/base-infrastructure/docker-registry/cf-reeve-follower-app:release-1.1.0
    networks:
      - lob
    ports:
      - "9090:9090"
    environment:
      SPRING_PROFILES_ACTIVE: dev--yaci-dev-kit
      DB_URL: ${DB_USER:-jdbc:postgresql://postgres:5432/postgres?currentSchema=lob_follower_service}
      LOB_BLOCKFROST_URL: http://yaci-cli:8080/api/v1/
      STORE_CARDANO_HOST: ${STORE_CARDANO_HOST:-yaci-cli}
      STORE_CARDANO_PORT: ${STORE_CARDANO_PORT:-3001}
      STORE_CARDANO_PROTOCOL_MAGIC: ${STORE_CARDANO_PROTOCOL_MAGIC:-42}
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  yaci-cli:
    restart: unless-stopped
    image: bloxbean/yaci-cli:0.10.6
    networks:
      - lob
    env_file:
      - ./yaci-config/env
      - ./yaci-config/node.properties
    volumes:
      - ./yaci-config/node.properties:/app/config/node.properties
      - yaci-data:/clusters
    ports:
      - "${YACI_DEVNET_EXPOSED_PORT:-3001}:3001"
      - "8081:8080"
    entrypoint: [ "/app/yaci-cli", "create-node", "-o", "--start" ]
#    labels:
#      - "traefik.enable=true"
#      - "traefik.http.routers.yaci-bf-http.entrypoints=web"
#      - "traefik.http.routers.yaci-bf-http.rule=host(`${YACI_BLOCKFROST_HOSTNAME:-yaci-blockfrost.example.com}`)"
#      - "traefik.http.routers.yaci-bf-https.rule=host(`${YACI_BLOCKFROST_HOSTNAME:-yaci-blockfrost.example.com}`)"
#      - "traefik.http.routers.yaci-bf-https.entrypoints=websecure"
#      - "traefik.http.routers.yaci-bf-https.tls=true"
#      - "traefik.http.services.yaci-bf-https.loadbalancer.server.port=8080"
#      - "traefik.http.middlewares.https-redirect.headers.customrequestheaders.x-forwarded-proto=https"
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  yaci-viewer:
    restart: unless-stopped
    image: bloxbean/yaci-viewer:0.10.6
    ports:
      - "5173:5173"
    env_file:
      - ./yaci-config/env
    environment:
      PUBLIC_INDEXER_BASE_URL: ${PUBLIC_INDEXER_BASE_URL:-http://yaci-cli:8080/api/v1}
      PUBLIC_INDEXER_WS_URL: ${PUBLIC_INDEXER_WS_URL:-ws://localhost:8081/ws/liveblocks}
    networks:
      - lob
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.yaci-viewer-http.entrypoints=web"
      - "traefik.http.routers.yaci-viewer-http.rule=Host(`${YACI_VIEWER_HOSTNAME:-yaci-viewer.example.com}`)"
      - "traefik.http.routers.yaci-viewer-https.rule=Host(`${YACI_VIEWER_HOSTNAME:-yaci-viewer.example.com}`)"
      - "traefik.http.routers.yaci-viewer-https.entrypoints=websecure"
      - "traefik.http.routers.yaci-viewer-https.tls=true"
      - "traefik.http.middlewares.https-redirect.headers.customrequestheaders.X-Forwarded-Proto=https"
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  caddy:
    profiles: [traefik]
    restart: unless-stopped
    container_name: "caddy"
    image: caddy:latest
    networks:
      - lob
    ports:
      - "10080:80"
      - "10443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.yaci-bf-http.entrypoints=web"
      - "traefik.http.routers.yaci-bf-http.rule=host(`${YACI_BLOCKFROST_HOSTNAME:-yaci-blockfrost.example.com}`)"
      - "traefik.http.routers.yaci-bf-https.rule=host(`${YACI_BLOCKFROST_HOSTNAME:-yaci-blockfrost.example.com}`)"
      - "traefik.http.routers.yaci-bf-https.entrypoints=websecure"
      - "traefik.http.routers.yaci-bf-https.tls=true"
      - "traefik.http.services.yaci-bf-https.loadbalancer.server.port=80"
      - "traefik.http.middlewares.https-redirect.headers.customrequestheaders.x-forwarded-proto=https"
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"

  traefik:
    profiles: [traefik]
    restart: unless-stopped
    image: "traefik:v3.6"
    container_name: "traefik"
    command:
      - "--log.level=DEBUG"
      - "--accesslog.filepath=/dev/stdout"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    ports:
      - "443:443"
      - "80:80"
        #- "8080:8080"
    volumes:
      - "/var/lib/letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - lob
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "100"
  keria:
    image: ${KERIA_IMAGE:-weboftrust/keria}:${KERIA_IMAGE_TAG:-0.2.0-dev6}
    restart: unless-stopped
    environment:
      KERI_AGENT_CORS: 1
      <<: *python-env
    volumes:
      - ./keri-config/keria.json:/keria/config/keri/cf/keria.json
    command: start --config-dir /keria/config --config-file keria.json --name agent  # Adjusted command line
    healthcheck:
      test: wget --spider http://keria:3902/spec.yaml
      <<: *healthcheck
    ports:
      - 3901:3901
      - 3902:3902
      - 3903:3903
    networks:
      - lob

volumes:
  postgres-data:
  keycloak-providers:
  yaci-data:

networks:
  lob:
    name: lob
