name: Sync platform versions

on:
  repository_dispatch:
    types: 
     - cf-reeve-platform-pr

jobs:
  create-or-update-pr:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    permissions: 
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update platform version
        run: |
          VERSION="${{ github.event.client_payload.TRIGGERING_PAYLOAD.version }}"
          PR_NAME="${{ github.event.client_payload.TRIGGERING_PAYLOAD.prName }}"
          SOURCE_BRANCH="${{ github.event.client_payload.TRIGGERING_PAYLOAD.sourceBranch }}"
          TARGET_BRANCH="${{ github.event.client_payload.TRIGGERING_PAYLOAD.targetBranch }}"

          if ! git checkout -b $SOURCE_BRANCH 
          then
            echo "Creating new branch $SOURCE_BRANCH"
            git checkout $SOURCE_BRANCH
          fi
          # check if pr for SOURCE_BRANCH already exists
          if ! gh pr view $SOURCE_BRANCH > /dev/null
          then
            echo "Creating new PR \"$PR_NAME\" from $SOURCE_BRANCH to $TARGET_BRANCH"
            gh pr create --title "$PR_NAME" --body "" --base $TARGET_BRANCH --head $SOURCE_BRANCH
          fi
          gh pr checkout $SOURCE_BRANCH

          git pull

          sed -i -E "s|extra\[\"cfLobPlatformVersion\"\] = \".*\"|extra\[\"cfLobPlatformVersion\"\] = \"$VERSION\"|g" build.gradle.kts

          git add build.gradle.kts
          git commit -m "chore: bump platform version"
          git push --dry-run
